{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row m-4 d-flex justify-content-center">
    <div class="col-12">
      {% if receita.picture %}
      <img src="{{ receita.picture.url }}" style="max-width: 100%;">
      {% else %}
      <img src="{% static 'img/bg-img/tomate_banner.jpg' %}" style="max-width: 100%;">
      {% endif %}
    </div>
  </div>

  <div class="row m-4">
    <div class="col-12">
      <h2>{{ receita.name }}</h2>
      <div class="m-2">
        <h6>Preparo: {{ receita.time }}</h6>
        <h6>Rendimento: 2 porçoes</h6>
        <h6>Categoria: {{ receita.category }}</h6>
        <h6>Por: {{ receita.owner_user.username }}</h6>
        <h6>Adicionada em: {{ receita.creation_date }}</h6>
      </div>
    </div>
  </div>

  <div class="row m-4">
    <div class="col">
      <h4>Modo de preparo</h4>
      <p>{{ receita.steps }}</p>
    </div>
  </div>

  <div class="row m-4">
    <div class="col">
      <h4>Ingredientes</h4>
      <div class="">
        <p>{{ receita.ingredients }}</p>
        </p>
      </div>
    </div>
  </div>
  
  {% if user.is_authenticated and user.id == receita.owner_user.id %}
  <div class="row m-4">
    <div class="col">
      <a class="btn btn-primary" href="{% url 'mudar-visibilidade' receita.id %}">Tornar
        {% if receita.visible %}invisivel{% else %}visivel{% endif %}</a>
    </div>
  </div>
  {% endif %}
</div>

{% endblock content %}