{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row m-2 d-flex justify-content-around">

    {% if receitas %}
    {% for receita in receitas %}
    <div class="card col-3">
      <div class="card-header d-flex justify-content-center" style="height: 16rem;">
        {% if receita.picture %}
        <img src="{{ receita.picture.url }}" class="card-img-top">
        {% else %}
        <img src="{% static 'img/bg-img/foto_receita.png' %}" class="card-img-top">
        {% endif %}
      </div>
      <div class="card-body d-flex flex-column justify-content-around" style="height: 14rem;">
        <h5 class="card-title">{{ receita.name }}</h5>
        <p class="card-text">{{ receita.owner_person }}</p>
        <a href="{% url 'detail' receita.id %}" class="btn btn-primary">Ver detalhes</a>
      </div>
      <!-- <div class="card-footer">Footer</div> -->
    </div>
    {% endfor %}
    {% else %}
    <div class="col-12 col-sm-6 col-lg-4">
      <p>Não há receitas cadastradas</p>
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}